#preloaded-images {
  position: absolute;
  overflow: hidden;
  left: -9999px; 
  top: -9999px;
  height: 1px;
  width: 1px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue';
  font-weight: 300;
  color: #3d3d3d;
}

a {
  text-decoration: none;
  color: #3d3d3d;
}

#root {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.app {
  text-align: center;
  margin: 25px 20px 0 20px;
  min-width: 250px;
}

.header {
  font-size: 45px;
  margin-bottom: 0;
  min-width: 200px;
  letter-spacing: 10px;
  font-weight: 100;
  font-family: Helvetica Neue;
  padding-bottom: 10px;
}

.navbar {
  margin: 0 auto 15px auto;
  max-width: 950px;
}

.navbar a {
  display: inline-block;
  height: 20px;
  width: 60px;
  vertical-align: middle;
  padding: 0 10px;
}

.navbar .seperator {
  display: inline-block;
  vertical-align: top;
  padding-top: 1px;
}

.navbar a:hover {
  font-weight: bold;
}

#about-btn {
  width: 30px;
}
#projects-btn {
  width: 42px;
}

/* projects css */

#projects {
  margin-top: 30px;
}

.screenshot {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 500px;
  width: 95%;
  padding: 7px;
  background-color: #fff;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.75);
}

.project-pitch {
  font-weight: 400;
  font-size: 13px;
  padding: 10px 0 10px 0;
}

.pitch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#uneven-padding-screenshot {
  padding: 7px 7px 3px 7px;
}

.inner-screenshot {
  width: 100%;
}

.github-logo {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  padding: 7px;
}

.github-logo:hover {
  padding: 6px;
}

.projects-description-container {
  max-width: 650px;
  margin: 10px auto 50px auto;
}

.projects-description-container p {
  font-size: 13px;
  font-weight: 400;
}

.projects-description-container small {
  font-size: 16px;
}

.project-link {
  font-size: 13px;
  font-weight: 500;
}

.project-link:hover {
  font-weight: bold;
}

/* about css */

#my-title {
  margin-top: 35px;
}

.headshot {
  max-width: 350px;
  width: 95%;
  padding: 3px;
  background-color: white;
  margin: 10px auto 10px auto;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.75)
}

.about-header {
  display: block;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 5px auto 5px auto;
}

.about-description-container {
  max-width: 650px;
  margin: 10px auto;
}

.values-div {
  margin-top: 10px;
  margin-bottom: 15px;
}

.values {
  display: block;
  margin: 2px;
}

.about-link-container {
  height: 20px;
}

.about-link:hover {
  font-weight: 400;
}

/* timeline css */

.tl {
  margin-top: 35px;
}

.segment {
  display: block;
  margin: 15px auto;
  font-size: 16px;
  max-width: 650px;
}

.year {
  display: inline-block;
  height: 24px;
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 0 auto;
}

.banner {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  padding: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.75)
}

.lighter-banner {
  display: block;
  margin: 20px auto;
  width: 100%;
  max-width: 500px;
  opacity: .85;
  padding: 3px;
  background-color: #fff;
  box-shadow: inset 0px 0px 1px 1px rgba(0,0,0,0.75)
}

/* footer css */

.footer {
  margin: 50px auto auto auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 25px;
  max-width: 950px;
  padding: 5px 0;
}

.logo:hover {
  padding: 12px;
}

.logo {
  box-sizing: border-box;
  height: 45px;
  width: 45px;
  padding: 13px;
}

.email {
  display:block;
  margin:3px 0 7px 0;
  font-size: 11px;
}

.city {
  margin: 0;
  letter-spacing: 2px;
}

/* mobile */

@media (max-width: 425px) {
  .header {
    font-size: 50px;
    letter-spacing: 13px;
    margin-top: 0;
  }
}